<template>
  <div class="{{ dashCase name }}">
    {{ dashCase name }}
  </div>
</template>

<script>
export default {
  name: '{{ name }}',
  components: {
  },
  props: {},
  data () {
    return {

    }
  },
  computed: {
  },
  created () {

  },
  mounted () {
  },
  methods: {
  }
}
</script>

<style scoped>
  .{{ dashCase name }}
    // display: none
</style>